*.aux
*.tex
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
.Rhistory
.DS_Store
.dropbox
*.tex
*.ipynb_checkpoints
HA1.tex
HA2.tex
HA3.tex
HA4.tex


Latex/
Tests/
Exams/
~$
~$*
Scores_ex1.xlsx
