*.aux
*.tex
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
.Rhistory
.DS_Store
*.ipynb_checkpoints
HA1.tex
HA2.tex
HA3.tex
HA4.tex
HA1.pdf
HA2.pdf
HA3.pdf
HA4.pdf
Latex/
Tests/
Exams/
